@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindos</h1>
    <p>Sistema Controle de Pedidos - PedidoWeb 1.0 - Página Inicial</a>.</p>
</div>
