@{
    ViewData["Title"] = "Exclusão de Clientes";
}

<div class="text-center">
    <h1 class="display-4">Cadastro de Clientes</h1>
    <p>Sistema Controle de Pedidos - PedidoWeb 1.0 - Exclusão de Clientes</p>
</div>